.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 10px;
}

@media (min-width: 541px) {
  .container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
  }
}

.form_group {
  margin-bottom: 10px;
}

.form_control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
