.container {
  display: grid;
  gap: 8px;
}

@media (max-width: 480px) {
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto);
  }

  .item1 {
    grid-column: 1 / span 2;
    grid-row: 1;
    border: 2px solid rgb(14, 60, 160);
  }

  .item2 {
    grid-column: 1;
    grid-row-start: 2;
    border: 2px solid black;
  }
  .item3 {
    grid-column: 2;
    grid-row-start: 2;
  }
  .item4 {
    grid-column: 1;
    grid-row-start: 3;
  }

  .item5 {
    grid-column: 2;
    grid-row-start: 3;
  }
  .item6 {
    grid-column: 1 / span 2;
    grid-row-start: 4;
    display: none;
  }
  .item7 {
    grid-column: 1 / span 2;
    grid-row-start: 4;
  }
  .item8 {
    grid-row-start: 9;
    grid-column: 1;
    border: 2px solid black;
    display: none;
  }
  .item9 {
    grid-row-start: 2;
    grid-column: 1;
    border: 2px solid rgb(14, 60, 160);
    display: none;
  }

  .item10 {
    grid-column: 2;
    grid-row-start: 1;
    display: none;
  }
  .item11 {
    grid-column: 2;
    grid-row-start: 1;
    display: none;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto);
  }

  .item1 {
    grid-column: 1;
    grid-row: 1;
    border: 2px solid rgb(14, 60, 160);
  }

  .item2 {
    grid-column: 1;
    grid-row-start: 2;
    border: 2px solid black;
    display: none;
  }
  .item3 {
    grid-column: 2;
    grid-row-start: 2;
    display: none;
  }
  .item4 {
    grid-column: 1;
    grid-row-start: 3;
    display: none;
  }

  .item5 {
    grid-column: 2;
    grid-row-start: 3;
    display: none;
  }
  .item6 {
    grid-column: 1 / span 2;
    grid-row-start: 3;
  }
  .item7 {
    grid-column: 1 / span 2;
    grid-row-start: 4;
    display: none;
  }
  .item8 {
    grid-row-start: 2;
    grid-column: 1 / span 2;
    border: 2px solid black;
  }
  .item9 {
    grid-row-start: 2;
    grid-column: 1;
    border: 2px solid rgb(14, 60, 160);
    display: none;
  }

  .item10 {
    grid-column: 2;
    grid-row-start: 1;
    border: 2px solid black;
  }
  .item11 {
    grid-column: 2;
    grid-row-start: 1;
    display: none;
  }
}

/* Adjust styles for viewport width 481px to 768px */

@media (min-width: 769px) and (max-width: 1090px) {
  .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, auto);
  }

  .item1 {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
    border: 2px solid rgb(14, 60, 160);
  }

  .item2 {
    grid-column: 1;
    grid-row-start: 2;
    border: 2px solid black;
    display: none;
  }
  .item3 {
    grid-column: 2;
    grid-row-start: 2;
    display: none;
  }
  .item4 {
    grid-column: 3 / span 2;
    grid-row-start: 1;
  }

  .item5 {
    grid-column: 3 / span 2;
    grid-row-start: 2;
  }
  .item6 {
    grid-column: 1 / span 4;
    grid-row-start: 4;
  }
  .item7 {
    grid-column: 4;
    grid-row-start: 4;
    display: none;
  }
  .item8 {
    grid-row-start: 3;
    grid-column: 1 / span 2;
    border: 2px solid black;
  }
  .item9 {
    grid-row-start: 2;
    grid-column: 1;
    border: 2px solid rgb(14, 60, 160);
    display: none;
  }

  .item10 {
    grid-column: 3 / span 2;
    grid-row-start: 3;
    border: 2px solid black;
  }
  .item11 {
    grid-column: 3 / span 2;
    grid-row-start: 1;
    display: none;
  }
}

@media (min-width: 1090px) {
  .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, auto);
  }

  .item1 {
    grid-column: 1;
    grid-row: 1 / span 2;
    border: 2px solid rgb(14, 60, 160);
  }

  .item2 {
    grid-column: 1;
    grid-row-start: 2;
    border: 2px solid black;
    display: none;
  }
  .item3 {
    grid-column: 2;
    grid-row-start: 2;
    display: none;
  }
  .item4 {
    grid-column: 2;
    grid-row-start: 1;
  }

  .item5 {
    grid-column: 2;
    grid-row-start: 2;
  }
  .item6 {
    grid-column: 1 / span 4;
    grid-row-start: 4;
  }
  .item7 {
    grid-column: 4;
    grid-row-start: 4;
    display: none;
  }
  .item8 {
    grid-row-start: 3;
    grid-column: 1 / span 2;
    border: 2px solid black;
  }
  .item9 {
    grid-row-start: 2;
    grid-column: 1;
    border: 2px solid rgb(14, 60, 160);
    display: none;
  }

  .item10 {
    grid-column: 3 / span 2;
    grid-row-start: 3;
    border: 2px solid black;
  }
  .item11 {
    grid-column: 3 / span 2;
    grid-row-start: 1;
  }
}
