.container {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: auto;
  gap: 5px;
}

.item1 {
  grid-column: 1;

  border: 1px solid #ccc;
  margin: 10px;
  overflow: auto; /* Make this item scrollable */
  border: 2px solid black;
}

.item2 {
  grid-column: 2;
  padding: 20px;
  /* border: 2px solid black; */
  margin: 10px;
  /* Adjust background as needed */
}

.item2Child {
  position: absolute;
  top: 40;
  height: 400px;
  background-color: #fff;
}

@media ((max-width: 768px)) {
  .container {
    grid-template-rows: repeat(2, auto);
    grid-template-columns: auto;
  }

  .item1 {
    grid-row: 2;
    position: relative;
    top: 80px;
  }
  .item2 {
    grid-row: 1;
    position: absolute;
    height: 200px;
    top: 40;
    grid-column: 1;
  }
}
