.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  /* gap: 8px; */
}

@media (max-width: 480px) {
  .item1 {
    width: 100%;
  }

  .block2 {
    flex-direction: column;
  }

  .item4 {
    width: 100%;
  }

  .item5 {
    width: 100%;
  }
  .item6 {
    display: none;
  }
}

/* Adjust styles for viewport width 481px to 768px */

@media (min-width: 481px) and (max-width: 540px) {
  .item1 {
    width: 100%;
  }
  .block2 {
    flex-direction: column;
  }

  .item4 {
    width: 100%;
  }

  .item5 {
    width: 100%;
  }
  .item6 {
    width: 100%;
  }
}
@media (min-width: 541px) and (max-width: 768px) {
  .item1 {
    width: 100%;
  }

  .item4 {
    width: 50%;
  }

  .item5 {
    width: 50%;
  }
  .item6 {
    width: 100%;
  }
}

/* Adjust styles for viewport width 481px to 768px */

@media (min-width: 769px) and (max-width: 1090px) {
  .item1 {
    width: 100%;
  }

  .item4 {
    width: 60%;
  }

  .item5 {
    width: 40%;
  }
  .item6 {
    width: 100%;
  }
}

@media (min-width: 1090px) {
  .item1 {
    width: 100%;
  }

  .item4 {
    width: 68%;
  }

  .item5 {
    width: 32%;
  }
  .item6 {
    width: 100%;
  }
}

/* .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

@media (max-width: 480px) {
  .item1 {
    width: 100%;
  }

  .box2 {
    flex-direction: column;
  }

  .item2 {
    width: 100%;
  }

  .item3 {
    display: 100%;
  }
  .item4 {
    display: none;
  }
}

@media (min-width: 481px) and (max-width: 540px) {
  .item1 {
    width: 100%;
  }

  .box2 {
    flex-direction: column;
  }

  .item2 {
    width: 100%;
  }

  .item3 {
    display: 100%;
  }

  .item4 {
    display: 100%;
  }
}
@media (min-width: 541px) and (max-width: 768px) {
  .item1 {
    width: 100%;
  }

  .item2 {
    width: 50%;
  }

  .item3 {
    width: 48%;
  }
  .item4 {
    display: 100%;
  }
} */

/* Adjust styles for viewport width 481px to 768px */
/* 
@media (min-width: 769px) and (max-width: 1090px) {
  .item1 {
    width: 100%;
  }

  .item2 {
    width: 50%;
  }

  .item3 {
    width: 48%;
  }
  .item4 {
    display: 100%;
  }
}

@media (min-width: 1090px) {
  .item1 {
    width: 100%;
  }

  .item2 {
    width: 58%;
  }

  .item3 {
    width: 40%;
  }
  .item4 {
    display: 100%;
  }
} */
